<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img src="../img/logos/logo.png" width="50px" title="GoldSec" alt="GoldSec Logo" /> {{site.title}}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Serviços</a>
                </li>
                <!-- <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li> -->
                <li>
                    <a class="page-scroll" href="#about">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Time</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Transforme a segurança do software de sua empresa com um assessment</div>
            <div class="intro-heading">Faça agora sua avaliação de maturidade e saia com um plano de ação.</div>

            <button class="btn btn-xl" data-tf-popup="xOgrUy5J" data-tf-opacity="100" data-tf-size="100"
                data-tf-iframe-props="title=Assessment beta" data-tf-transitive-search-params data-tf-medium="snippet">
                Comece por aqui!</button>
            <script src="//embed.typeform.com/next/embed.js"></script>
            <!-- <a href="#Assessment" class="page-scroll btn btn-xl">Saiba mais</a> -->
        </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->