<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Consultoria em Segurança de Aplicações</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">On-boarding de soluções para segurança de software</h4>
                    <p class="text-muted">Implementação de soluções de segurança para desenvolvimento, testes de segurança com avaliação de vulnerabilidade e análise de ameaças.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Suporte em ferramentas e apoio especializado em AppSec</h4>
                    <p class="text-muted">Utilize plenamente soluções de cyber security integradas em seu ciclo de desenvolvimento e obtenha a qualidade e o ROI esperados.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultoria e orientação em segurança de aplicações</h4>
                    <p class="text-muted">Análise, orientação e o aconselhamento para implementar corretamente melhorias em seus processos de segurança.</p>
                </div>
            </div>
        </div>
    </section>