<!-- Services Section -->
    <section id="services"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Consultoria em Segurança de Aplicações</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="https://goldappsec.com.br/green">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Green Team Services - Automação de segurança</h4>
                        <p class="text-muted">Implementação de soluções de segurança para desenvolvimento, testes de segurança com avaliação de vulnerabilidade e análise de ameaças.</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://goldappsec.com.br/purple">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Purple Team Services - Integrar táticas de defesa com resultados de ataque</h4>
                        <p class="text-muted">Utilize plenamente soluções de cyber security integradas em seu ciclo de desenvolvimento e obtenha a qualidade e o ROI esperados.</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://goldappsec.com.br/orange">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Orange Team Services - Facilitar a interação, educação e cultura de segurança</h4>
                        <p class="text-muted">Análise, orientação e o aconselhamento para implementar corretamente melhorias em seus processos de segurança.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>